NEXT_PUBLIC_SUPABASE_URL=https://pwdiyopqqzkhbkgwhyxz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_D8pCtGGWZPuABK8HU0CpmA_eSjt0noQ
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
